/* #chartdiv {
  width: 100%;
} */
#chartdiv {
  overflow: auto;
}

#blogdiv {
  width: 100%;
  height: 50%;
  float: left;
}

#mapdiv {
  width: 100%;
  height: 50%;
  float: left;
}

.chart-flex {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 450px) {
  #chartdiv {
    height: 50vh;
  }
}

@media screen and (min-width: 451px) {
  #chartdiv {
    height: 90vh;
  }
}

@media screen and (min-width: 651px) {
  #chartdiv {
    height: 50vh;
    width: 100%;
  }
  .chart-flex {
    flex-direction: row;
  }

  #blogdiv {
    width: 50%;
    height: 100%;
  }

  #mapdiv {
    width: 50%;
    height: 100%;
  }
}

@media screen and (min-width: 850px) {
  #chartdiv {
    height: 70vh;
    width: 100%;
  }
}
